target/
build/
!.mvn/wrapper/maven-wrapper.jar

application.properties
application.yml

logs/
*.log

####################################
# IDEs
####################################

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse / STS
.classpath
.project
.settings/
.springBeans
.sts4-cache
.apt_generated
.factorypath

# VS Code
.vscode/
!.vscode/extensions.json

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
