version: "3.8"

services:
  backend:
    build: ./signature-numerique
    ports:
      - "8080:8080"
    environment:
      # Base de données
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      
      # MongoDB
      #SPRING_DATA_MONGODB_URI: ${MONGO_URI}
      
      # Sécurité et JWT
      APP_SECURITY_JWT_SECRET: ${APP_SECURITY_JWT_SECRET}
      
      # CONFIGURATION EMAIL (Format correct pour Docker)
      SPRING_MAIL_HOST: smtp.gmail.com
      SPRING_MAIL_PORT: 465
      SPRING_MAIL_USERNAME: ${SPRING_MAIL_USERNAME}
      SPRING_MAIL_PASSWORD: ${SPRING_MAIL_PASSWORD}
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH: "true"
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_SSL_ENABLE: "true"
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_SOCKETFACTORY_PORT: 465
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_SOCKETFACTORY_CLASS: javax.net.ssl.SSLSocketFactory

  frontend:
    build: ./frontend-signature
    ports:
      - "3000:80"
    environment:
      - REACT_APP_API_URL=${APP_BASE_URL}
    depends_on:
      - backend